In [1]:
import numpy as np
import pandas as pd

s = pd.Seriesies([1,3,5,np.nan, 6,8])

AttributeError: module 'pandas' has no attribute 'Seriesies'

In [2]:
s = pd.Series([1,3,5,np.nan, 6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df2 = pd.DataFrame({'A': 1., 'V':  pd.Series(1, index=list(range(4)), dtype='float32')})
df2

     A    V
0  1.0  1.0
1  1.0  1.0
2  1.0  1.0
3  1.0  1.0

In [10]:
df2.dtypes

A    float64
V    float32
dtype: object

In [11]:
df2.describe()

         A    V
count  4.0  4.0
mean   1.0  1.0
std    0.0  0.0
min    1.0  1.0
25%    1.0  1.0
50%    1.0  1.0
75%    1.0  1.0
max    1.0  1.0

In [13]:
df2['VAL'] = ['a', 'a', 'b', 'c']
df2[df2['VAL'].isin(['a', 'c'])]

     A    V VAL
0  1.0  1.0   a
1  1.0  1.0   a
3  1.0  1.0   c

In [14]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [15]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

ValueError: Not enough indexers for scalar access (setting)!

In [ ]:
j